createdAt: "2020-03-06T02:05:29.151Z"
updatedAt: "2020-03-06T02:13:52.051Z"
type: "MARKDOWN_NOTE"
folder: "48478762976c01986a6c"
title: "Bandit Level 31"
tags: []
content: '''
  # Bandit Level 31
  
  This is another git level so we start by cloning the repo
  
  After opening the README we are output:
  ![080c0f58.png](:storage/00d844b5-e53a-4233-addf-a68530e425cc/080c0f58.png)
  
  First I create the file key.txt with the contents "May I come in?"
  
  We now need to add it to our push
  To do this we use the command:
  > git add key.txt
  
  however apon running we get the error message:
  ![a866e96e.png](:storage/00d844b5-e53a-4233-addf-a68530e425cc/a866e96e.png)
  
  We do want to add them so we add the "-f" argument to our command and this file is added
  
  Next we need to commit out add
  To do this we use the command:
  > git commit -m \\<update_message>
  
  after running this command with an appropriate message all we have left to do is push to the remote repo
  
  To do this all we have to do is run the command:
  > git push
  
  This will push all changes we have added and commited to our remote repo
  
  After running this command we get the output:
  ![1f17e188.png](:storage/00d844b5-e53a-4233-addf-a68530e425cc/1f17e188.png)
  
  Which gives us the password: 56a9bf19c63d650ce78e6ec0354ee45e
'''
linesHighlighted: []
isStarred: false
isTrashed: false
