createdAt: "2020-03-05T19:08:09.333Z"
updatedAt: "2020-03-05T19:08:21.048Z"
type: "MARKDOWN_NOTE"
folder: "48478762976c01986a6c"
title: "Bandit Level 15"
tags: []
content: '''
  # Bandit Level 15
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
