createdAt: "2020-03-05T18:12:03.622Z"
updatedAt: "2020-03-05T18:12:30.070Z"
type: "MARKDOWN_NOTE"
folder: "48478762976c01986a6c"
title: "Test this works"
tags: []
content: '''
  # Test this works
  
'''
linesHighlighted: []
isStarred: false
isTrashed: true
