createdAt: "2020-03-05T23:36:12.508Z"
updatedAt: "2020-03-05T23:39:37.239Z"
type: "MARKDOWN_NOTE"
folder: "48478762976c01986a6c"
title: "Bandit Level 8"
tags: []
content: '''
  # Bandit Level 8
  
  In this level the password is stored in the file data.txt and is the only unique line of text that occours only once
  
  For this we can use the uniq command with the argument -u and this will return all unique lines in the file
  
  So when we run the command:
  > uniq -u data.txt
  
  The output isnt as expected:
  ![fcc45504.png](:storage/Bandit_Level_8/fcc45504.png)
  
  The reason we aren't getting a single output is that the uniq command cannot find duplicate lines if they are not adjacent so we need another command to do this for us
  This command is the sort command. This will sort the lines and then we can pipe the output of that command into our uniq -u command to get the unique line
  So once we run the command:
  > sort data.txt | uniq -u
  
  The output is a signle line giving us the password: UsvVyFSfZZWbi6wgC7dAFyFuR6jQQUhR
'''
linesHighlighted: []
isStarred: false
isTrashed: false
