createdAt: "2020-03-05T23:47:37.541Z"
updatedAt: "2020-03-05T23:52:54.332Z"
type: "MARKDOWN_NOTE"
folder: "48478762976c01986a6c"
title: "Bandit Level 21"
tags: []
content: '''
  # Bandit Level 21
  
  For this level we are told to look at a program that is running at regular intervals and that liiking in /etc/cron.d could help
  
  Well apon inspection of cron.d we are greeted with 3 useful cronjobs:
  ![0ec1d8ef.png](:storage/c036dfcd-1356-4dc4-bf31-ce8c65c4d193/0ec1d8ef.png)
  
  if we look at the contents of  cronjob_bandit22 we see this:
  ![463e0a99.png](:storage/c036dfcd-1356-4dc4-bf31-ce8c65c4d193/463e0a99.png)
  
  It is clearly running a program named "/usr/bin/cronjob_bandit22.sh"
  
  After running this command we are given the output:
  ![08b9b26f.png](:storage/c036dfcd-1356-4dc4-bf31-ce8c65c4d193/08b9b26f.png)
  
  From this we can see the program is trying to access a file named /tmp/t7O6lds9S0RqQh9aMcz6ShpAoZKF7fgv
  
  If we look at the contents of this file we are greeted with a single string being the password: Yk7owGAcWjwMVRwrTesJEwB7WVOiILLI
'''
linesHighlighted: []
isStarred: false
isTrashed: false
