createdAt: "2020-03-05T19:51:35.364Z"
updatedAt: "2020-03-05T19:56:45.084Z"
type: "MARKDOWN_NOTE"
folder: "48478762976c01986a6c"
title: "Bandit Level 17"
tags: []
content: '''
  # Bandit Level 17
  
  In this level we have two files passwords.old and passwords.new and the password is the only string that is different between them
  
  For this we can use the "diff" command which can tell us the difference between two files
  
  when we run diff on our two files we are greeted with:
  ![61ddd1ba.png](:storage/e2aeb93b-c8ab-41b9-8b2a-e5631ad0301c/61ddd1ba.png)
  
  Here we are given two bits of text the top one shows us the old text that is nolonger in the file and the bottom one shows us the new text
  
  This tells the password is:
  kfBf3eYk5BPBRzwjqutbbfE887SVc5Yd
'''
linesHighlighted: []
isStarred: false
isTrashed: false
